body {
    background-image: linear-gradient(#400e57, #010101) !important;
}

.gradient-roxo {
    background-image: linear-gradient(#2c073d, #000000) !important;
}

.bg-roxo {
    background: #400e57 !important;
}

.icon-card {
    width: 65px !important;

}

.icon-estatisticas {
    width: 120px;
}

.card-personalizado {
    width: 180px;
    height: 300px !important;
}

.memorare-title {
    display: flex;
    align-items: start;
    gap: 20px;

}

.memorare-title .line {
    width: 50px;
    height: 5px;
    background: #611185;
    margin-top: 15px;
}

h4 .line2 {
    display: inline-block;
    width: 50px;
    height: 5px;
    background: #FFFFFF;
}

h2 .line3 {
    display: inline-block;
    width: 50px;
    height: 5px;
    background: #611185;
    margin-top: 20px;
}



.titulo {
    color: #ffffff;
    margin-top: 10px;
    margin-left: -28px;
    font-size: 25px;
    line-height: 0.4;
}

.subtitulo {
    color: #ffffff;
    margin-top: 10px;
    font-size: 11px;
    margin-left: -28px;
}

.fonte-preco {
    font-size: 30px !important;
}

img.homem-memorare {
    display: block;
    margin: 0;
    max-width: 700px;
    width: 100%;
}

@media (min-width: 768px) {
    img.homem-memorare {
        max-width: 900px;
    }
}

@media (min-width: 992px) {
    img.homem-memorare {
        max-width: 450px;
    }
}

@media (min-width: 1200px) {
    img.homem-memorare {
        max-width: 650px;
    }
}

@media (min-width: 1400px) {
    img.homem-memorare {
        max-width: 750px;
    }
}


:root {
    --bd-violet: #611185;
    --bd-violet-dark: #80409e;
    --bd-violet-darker: #80409e;
}

.btn-violet {
    color: #fff !important;
    background-color: var(--bd-violet) !important;
    border: 4px solid var(--bd-violet) !important;
    border-radius: 1.5rem !important;
    font-weight: 900 !important;
    padding: 0.8rem 0.75rem !important;
    display: inline-block !important;
    text-align: center !important;
    cursor: pointer !important;
    transition: background-color 0.3s, border-color 0.3s !important;
}

.btn-violet:hover {
    background-color: var(--bd-violet-dark) !important;
    border-color: var(--bd-violet-dark) !important;
}

.btn-violet:active,
.btn-violet:focus {
    background-color: var(--bd-violet-darker) !important;
    border-color: var(--bd-violet-darker) !important;
    outline: none !important;
    box-shadow: 0 0 0 0.25rem rgba(127, 90, 240, 0.5) !important;
}


.promo-img {
    opacity: 0.5;
    transform: translateY(0);
    animation: pulseOpacity 2s ease-in-out infinite;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.promo-img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    opacity: 1;
}

@keyframes pulseOpacity {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.zoom-mouse {
    transform: translateY(0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.zoom-mouse:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}




.card-body img {
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
}

.zoom-mouse:hover~.card-body img,
.zoom-mouse:hover+.card-body img,
.zoom-mouse:hover .card-body img {
    animation: girar-horizontal 4s linear infinite;
    transform: scale(1.05);
}

@keyframes girar-horizontal {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}