body {
    background-image: linear-gradient(#400e57, #010101) !important;
}

.gradient-roxo {
    background-image: linear-gradient(#2c073d, #000000) !important;
    ;
}

.icon-card {
    width: 65px !important;

}

.card-personalizado {
    width: 180px;
    height: 300px !important;
}

.memorare-title {
    display: flex;
    align-items: center;
    gap: 20px;

}

.memorare-title .line {
    width: 50px;
    height: 5px;
    background: #611185;
    margin-top: 10px;
}


.titulo {
    color: #ffffff;
    margin-top: 10px;
    margin-left: -28px;
    font-size: 25px;
    line-height: 0.4;
}

.subtitulo {
    color: #ffffff;
    margin-top: 10px;
    font-size: 11px;
    margin-left: -28px;
}


img.homem-memorare {
    display: block;
    margin: 0;
    max-width: 900px;
    width: 100%;
}

@media (min-width: 768px) {
    img.homem-memorare {
        max-width: 900px;
        align-items: center;
    }
}

@media (min-width: 992px) {
    img.homem-memorare {
        max-width: 450px;
    }
}

@media (min-width: 1200px) {
    img.homem-memorare {
        max-width: 650px;
    }
}

@media (min-width: 1400px) {
    img.homem-memorare {
        max-width: 850px;
    }
}