.gradient-navbar {
    background-image: linear-gradient(#2c073d, #000000);
}

.titulo {
    color:#ffffff;
    margin-top: 10px;
    margin-left: -28px;
    font-size: 25px;
    line-height: 0.4;
}

.subtitulo {
    color:#ffffff;
    margin-top: 10px;
    font-size: 11px;
    margin-left: -28px;
}

.gap-padding {
    gap: 3rem !important;
    padding: 0px 40px;
}
